<%- include("partials/header.ejs") %>
  
<body>
  
  <h1>Updating technician Data</h1>

    <form method="POST" action="/technician/edit">

      <input type="hidden" name="technicianId" value="<%=technicianInfo[0].technicianId%>">

      First Name:
      <input type="text" name="firstName" maxlength="25" size="25" value="<%=technicianInfo[0].firstName%>"><br>
      Last Name:
      <input type="text" name="lastName" maxlength="25" size="25" value="<%=technicianInfo[0].lastName%>"><br>
      e-mail   :
      <input type="text" name="email" maxlength="50" size="25" value="<%=technicianInfo[0].email%>"><br>
      phone number:
      <input type="text" name="phoneNumber" maxlength="12" size="12" value="<%=technicianInfo[0].phoneNumber%>"><br>
      Military Discount:  
        <input type="radio" name="military" value="N" 
        
        <% if (technicianInfo[0].military == "N") { %>
          checked 
        <% } %>
        
        > no

        <input type="radio" name="military" value="Y" 
        
        <% if (technicianInfo[0].military == "Y") { %>
          checked 
        <% } %>
        
        > yes
<br>
 Zip (optional):
      <input type="text" name="zipCode" maxlength="5" size="5" value="<%=technicianInfo[0].zip%>"><br>
      <button>Edit technician</button>  


    </form>

    <br>
          <% if (typeof message != "undefined"){ %>
             <h3><%=message%></h3>
 <% } %>

     <%- include("partials/footer.ejs") %>

</body>
</html>
